{% extends 'base.html' %}
{% block body %}
<body id="page-top" class="index">

     <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <i class="fa fa-briefcase fa-5x"></i>
                    <div class="intro-text">
                        <span class="name">Bekk Blando</span>
                        <hr class="star-light">
                        <span class="skills">Python Engineer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <section id="portfolio">
        <div class="container center-block">
            <div class="row" style="margin-bottom: 3%;">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <div class="col-sm-4 circlecontains">
                    <a href="#about" class="portfolio-link">
                            <div class="circle">
                                <i class="fa fa-user fa-5x centercircle"></i>
                            </div>
                        <div class="circlecaption">My Life</div>
                    </a>
                </div>
                <div class="col-sm-4 circlecontains">
                    <a href="{% url 'resume' %}" class="portfolio-link">
                            <div class="circle">
                                <i class="fa fa-paperclip fa-5x centercircle"></i>
                        </div>
                        <div class="circlecaption">My Resume</div>

                    </a>
                </div>
                <div class="col-sm-4 circlecontains">
                    <a href="{% url 'work' %}" class="portfolio-link">
                            <div class="circle">
                                  <i class="fa fa-laptop fa-5x centercircle"></i>
                            </div>
                        <div class="circlecaption">My Work</div>

                    </a>
                </div>
            </div>
        </div>
    </section>



<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        I was born and raised in Greenville, South Carolina. Growing up I was and am surrounded by
                        entrepenuers, developers and people with a growth mindset, which has cultivated my growth and
                        gives me great ambition.  I have been running iT2Pi, a non-profit dedicated to STEAM and Entreprenueral growth
                        for 2 years.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>I also attended the Iron Yard, for Python Engineering.  At the Iron Yard I was given an enviorment to grow
                    and allowed to push myself with the guidance of my instructor and help of my peers.  I am looking forward to
                    continuing a life of growth as I progress forward.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{% url 'home' %}#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-connectdevelop"></i> Connect
                    </a>
                </div>
            </div>
        </div>
    </section>




    <section  id="contact">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>(864)-252-5185</h3>
                    <h3><a href="mailto:bekblando@gmail.com">bekkblando@gmail.com</a></h3>
                    <h3><a href="https://github.com/bekkblando">Github</a></h3>
                    <h3><a href="https://www.linkedin.com/pub/bekk-blando/a9/97a/a3b">Linkedin</a></h3>

                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
</html>