{% extends 'base.html' %}
{% block body %}
<body id="page-top" class="index">

     <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <i class="fa fa-briefcase fa-5x"></i>
                    <div class="intro-text">
                        <span class="name">Bekk Blando</span>
                        <hr class="star-light">
                        <span class="skills">Web Development, Problem Solving, Data Science</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <section id="portfolio">
        <div class="container center-block">
            <div class="row" style="margin-bottom: 3%;">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <div class="col-sm-4 circlecontains">
                    <a href="#about" class="portfolio-link">
                            <div class="circle">
                                <i class="fa fa-user fa-5x centercircle"></i>
                            </div>
                        <div class="circlecaption">My Life</div>
                    </a>
                </div>
                <div class="col-sm-4 circlecontains">
                    <a href="{% url 'resume' %}" class="portfolio-link">
                            <div class="circle">
                                <i class="fa fa-paperclip fa-5x centercircle"></i>
                        </div>
                        <div class="circlecaption">My Resume</div>

                    </a>
                </div>
                <div class="col-sm-4 circlecontains">
                    <a href="{% url 'work' %}" class="portfolio-link">
                            <div class="circle">
                                  <i class="fa fa-laptop fa-5x centercircle"></i>
                            </div>
                        <div class="circlecaption">My Work</div>

                    </a>
                </div>
            </div>
        </div>
    </section>



<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      Throughout my youth I was surrounded by
                      entrepreneurs, developers and people with a growth mindset, which has cultivated my curiosity and
                      gives me great ambition.  I have been the Executive Director of <a href="http://iT2Pi.org">iT2Pi</a>, a non-profit organization dedicated to STEAM (Science, Technology, Engineering.
                      Arts, Mathematics) and entrepreneurial education
                      for two years.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>In 2015, I graduated the
                  <a href="http://theironyard.com/courses/python-engineering/">Iron Yard</a> for
                      Python Engineering.  At the Iron Yard, I learned how to
                       meet deadlines, work in a team and how to learn, grasp
                       and executive on complicated concepts.  I look forward to
                    continuing a life of growth as I progress forward. I bring
                  my work ethic and my love of knowledge anywhere I go.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{% url 'home' %}#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-connectdevelop"></i> Connect
                    </a>
                </div>
            </div>
        </div>
    </section>




    <section  id="contact">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>(864)-252-5185</h3>
                    <h3><a href="mailto:bekblando@gmail.com">bekkblando@gmail.com</a></h3>
                    <h3><a href="https://github.com/bekkblando">Github</a></h3>
                    <h3><a href="https://www.linkedin.com/pub/bekk-blando/a9/97a/a3b">Linkedin</a></h3>

                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
</html>
