{% extends 'base.html' %}
{% block body %}
<body id="page-top" class="index">


    <section  id="resume">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
<div class="row">
<div class="pull-left sidetext">
Alfred Bekk Blando<br/>
bekkblando@gmail.com<br/>
(864)-252-5185
</div>

<div class="pull-right sidetext">
7 Altamont Ct  <br/>
Greenville, South Carolina, 29609
</div>
</div>
                    <br/>
<hr/>
<h3>Technical Skills</h3>
<div><strong>I am competent in the following technical skills.</strong></div>
<hr/>
<table class="skilltable">
    <tr>
<td>Python</td>
<td>Django</td>
<td>jQuery</td>
        </tr>
    <tr>
<td>CSS3</td>
<td>Javascript</td>
<td>HTML5</td>
    </tr>
    <tr>
<td>Scipy</td>
<td>Pandas</td>
<td>AWS</td>
    </tr>
    <tr>
<td>Numpy</td>
<td>Git</td>
<td>PostgreSQL</td>
    </tr>
    <tr>
<td>Ruby</td>
<td>Rails</td>
<td>MySQL</td>
    </tr>
</table>


<hr/>
<h3>Soft Skills</h3>
<hr/>
<table class="skilltable">
    <tr>
<td>Public Speaking</td>
<td>Business Organization</td>
<td>Teaching Experience</td>
        </tr>
    <tr>
<td>Leadership Experience</td>
<td>Self-Motivated</td>
<td>Strong Work Ethic</td>
    </tr>
    <tr>
<td>Team Player</td>
<td>Problem Solver</td>
<td>Growth Mindset</td>
    </tr>
</table>






<hr/>
<h3>Education</h3>
<hr/>
<div>I am currently a full time student at Clemson University</div>
<div>Iron Yard Graduate - 2015</div>
<div>A+ Certification - 2015</div>
<div>Riverside High School - 2015</div>
<hr/>
<h3>Work Experience</h3>
<hr/>
<p>
<div><h4>Enveritas</h4></div><p>
<div>
I am currently a full time Software Engineer at <a href="https://enveritasgroup.com">Enveritas</a>.
</div>
    </p>
<p>
<div><h4>iT2Pi</h4></div><p>
<div>
I am the Executive Director of iT2Pi a non-profit organization dedicated to S.T.E.A.M and entrepreneurial education.
iT2Pi is two and a half years old and throughout the last year we have served over 200 students through our public workshops. We have also  been fortunate to receive public support as well as foundational and business support.   Including a two part grant from Greenville Water for $15,000, a grant from the Rotary Club of Greenville for $7,890, a Grant from the Metropolitan Arts council for $500 and various other business sponsorships.
<a href="http://iT2Pi.org">www.iT2Pi.org</a></div>

<div><em><strong>Teaching Experience</strong></em></div>
<div><em><strong>Experience with Event Coordination</strong></em></div>
<div><em>iT2Pi 2014 EXPO with over 250 attending</em></div>
<div><em>iT2Pi 2015 EXPO with over 500 attending</em></div>
<div><em><strong>Various Fundraising Events</strong></em></div>
<div><em><strong>Fundraising and Business Planning Experience</strong></em></div>
<div><em><strong>Grant Writing Experience</strong></em></div>

    </p>
<p>
<div><h4>PC Repair</h4></div>
<div>Rhino Concessions</div>
<div>Danny's Food Service</div>
<br/>
<div><h5>Previous grants written are available upon request</h5></div>
<div><h5>References are available upon request</h5></div>

                </p>
            </span>
        </div>
    </section>



</body>
{% endblock %}
