{% extends 'base.html' %}
{% block body %}
<body id="page-top" class="index">


    <section  id="resume">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
<div class="row">
<div class="pull-left sidetext">
Alfred Bekk Blando<br/>
bekkblando@gmail.com<br/>
(864)-252-5185
</div>

<div class="pull-right sidetext">
7 Altamont CT Greenville, <br/>
South Carolina, 29609
</div>
</div>
                    <br/>
<div><strong>My Current Objective is employment as a Junior Level Python Engineer.</strong></div>
<hr/>
<h3>Skills</h3>
<hr/>
<table class="skilltable">
    <tr>
<td>Python</td>
<td>Django</td>
<td>jQuery</td>
        </tr>
    <tr>
<td>CSS3</td>
<td>Javascript</td>
<td>HTML5</td>
    </tr>
    <tr>
<td>Scipy</td>
<td>Pandas</td>
<td>AWS</td>
    </tr>
    <tr>
<td>Numpy</td>
<td>Git</td>
<td>PostgreSQL</td>
    </tr>
</table>

<hr/>
<h3>Education</h3>
<hr/>

<div>Iron Yard Graduate</div>
<div>A+ Certification</div>
<div>High School Diploma</div>
<hr/>
<h3>Work Experience</h3>
<hr/>
<p>
<div><h4>iT2Pi</h4></div>
<div>I currently operate iT2Pi a non-profit dedicated to S.T.E.A.M and entrepreneurial education.</div>
<div><em>Teaching Experience</em></div>
<div><em>Experience with Event Coordination</em></div>
<div><em>Fundraising and Business Planning Experience</em></div>
<div><em>Grant Writing Experience</em></div>
    </p>
<p>
<div><h4>PC Repair and Web Design</h4></div>
<div>Rhino Concessions</div>
<div>Beauty For Ashes</div>
<div>Danny's Food Service</div>
<br/>
<div><h5>Previous grants written are available upon request</h5></div>
<div><h5>References are available upon request</h5></div>

                </p>
            </span>
        </div>
    </section>



</body>
{% endblock %}
