{% extends 'base.html' %}
{% block body %}
<body id="page-top" class="index">
<section class="text-center success">
<div class="container">

<div class="row">
  <div class="container">
  <div class="col-md-12"><hr/><h1>Skill Share</h1><hr/></div>
    <p>I created the concept, design, code and deployed Skill Share, in addition to presenting the application.</p>
    <p> The app allows people to connect with their community in a new way
    and is meant to connect and create both learners and teachers.</p>
    <p><h4><a target="_blank" href="http://ec2-52-27-90-124.us-west-2.compute.amazonaws.com" class="btn btn-lg btn-outline">
        Try it Out!</a></h4></p>
    <hr/>
    <h3>Tools and Tech</h3>
    <h6>Used in Skill Share</h6>
<table class="toolstech">
    <tr>
    <td><h4>Django</h4></td>
    <td><h4>Python3</h4></td>
    </tr>
    <tr>
    <td><h4>Git</h4></td>
    <td><h4>Requests Library</h4></td>
    </tr>
    <tr>

    <td><h4>HTML5</h4></td>
    <td><h4>CSS3</h4></td>
    </tr>
    <tr>

    <td><h4>Javascript</h4></td>
    <td><h4>jQuery</h4></td>
    </tr>
    <tr>

    <td><h4>Google Geocode API</h4></td>
    <td><h4>AJAX</h4></td>
    </tr>
    <tr>

    <td><h4>Materialize</h4></td>
    <td><h4>AWS</h4></td>
    </tr>
    <tr>

    <td><h4>RabbitMQ</h4></td>
    <td><h4>Celery</h4></td>
    </tr>
    <tr>

    <td><h4>Elastic Search</h4></td>
    <td><h4>Haystack</h4></td>
    </tr>
    <tr>

    <td><h4>POSTGRESQL</h4></td>
    <td><h4>Django Rest Framework</h4></td>
    </tr>

</table>
</div>
    </div>
    </div></div>
        </section>

<section class="text-center success" style="background-color:#10C3D3;">
    <div class="container">
<div class="row">

<div class="container">
  <div class="col-md-12">
      <hr/><h1>Census API</h1><hr/>
    <p>This is an example of an API my partner and I created for a two day project.</p> <p>
    The API will allow you to query Atus Census Information.  It is currently deployed on Heroku.
</p>
    <p><h4><a target="_blank" href="https://autus-project.herokuapp.com/" class="btn btn-lg btn-outline">
        See the Docs!</a></h4></p>
    <hr/>
    <h3>Tools and Tech</h3>
    <h6>Used in API</h6>
<table class="toolstech">
    <tr>
    <td><h4>Django</h4></td>
    <td><h4>Python3</h4></td>
    </tr>
    <tr>
    <td><h4>Django Rest<br/> Framework</h4></td>
    <td><h4>Heroku</h4></td>
    </tr>
    <tr>
    <td><h4>Pandas</h4></td>
    <td><h4>POSTGRESQL</h4></td>
    </tr>

</table>
</div>


</div>
</div>
</div>
</section>

<section class="text-center success">
    <div class="container">
<div class="row">
  <div class="container">
  <div class="col-md-12">
      <hr/><h1>Restaurant App</h1><hr/>
    <p>This Restaurant App was an Iron Yard group assignment, we built this application 1 week into using Django.</p> <p>
    The App is to allow a user to place orders as well as allow the owner to customize the menu and recieve orders in the kitchen.
</p>
<p> This application serves as an example of working with a team to design and create an application.</p>
    <p><h4><a target="_blank" href="ec2-52-11-76-189.us-west-2.compute.amazonaws.com" class="btn btn-lg btn-outline">
        See it Live!</a></h4></p>
    <hr/>
    <h3>Tools and Tech</h3>
    <h6>Used in Restaurant App</h6>
<table class="toolstech">
    <tr>
    <td><h4>Django</h4></td>
    <td><h4>Python3</h4></td>
    </tr>
    <tr>
    <td><h4>Git</h4></td>
    <td><h4>Bootstrap</h4></td>
    </tr>
    <tr>

    <td><h4>HTML5</h4></td>
    <td><h4>CSS3</h4></td>
    </tr>
    <tr>
    </tr>

</table>
</div>
    </div>
    </div>
  </div>
    </section>
</body>
{% endblock %}
